<div class="container">
  <button routerLink="/" class="px-3 py-2 mt-2">Back</button>
</div>
<div class="container my-5 w-50">
  <mat-card class="form-container">
    <div class="clip-path"></div>
    <mat-card-header><h2 class="form-header">Add Group</h2></mat-card-header>
    <form [formGroup]="groupForm" (ngSubmit)="submitGroupForm()">
      <mat-card-content class="d-flex flex-column">
        <mat-form-field appearance="outline">
          <mat-label>Name</mat-label>
          <input matInput autocomplete="off" formControlName="groupName" />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Select Color From Picker</mat-label>
          <input
            type="color"
            matInput
            autocomplete="off"
            formControlName="color"
          />
        </mat-form-field>

        <button
          mat-raised-button
          type="submit"
          class="w-25 m-auto"
          [disabled]="!groupForm.valid"
        >
          SUBMIT
        </button>
      </mat-card-content>
    </form>
  </mat-card>
</div>
