<div class="container my-5 w-50">
  <mat-card class="form-container">
    <div class="clip-path"></div>
    <mat-card-header><h2 class="form-header">Add Group</h2></mat-card-header>
    <form [formGroup]="groupForm" (ngSubmit)="submitGroupForm()">
      <mat-card-content class="d-flex flex-column">
        <mat-form-field appearance="outline">
          <mat-label>Name</mat-label>
          <input matInput autocomplete="off" formControlName="groupName" />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Select Color From Picker</mat-label>
          <input
            type="color"
            matInput
            autocomplete="off"
            formControlName="color"
            class="w-25"
          />
        </mat-form-field>
        <div class="form-btn d-flex justify-content-center align-items-center">
          <button
            mat-raised-button
            type="submit"
            class="me-1"
            [disabled]="!groupForm.valid"
          >
            SUBMIT
          </button>
          <button
            class="btn-cancel"
            mat-raised-button
            routerLink="/group"
            class="ms-1"
          >
            Cancel
          </button>
        </div>
      </mat-card-content>
    </form>
  </mat-card>
</div>
