<nav class="container d-flex justify-content-end">
  <button
    routerLink="/group/add-group"
    class="py-2 px-3 mt-1 d-flex align-items-center"
  >
    <i class="fas fa-users me-1"></i>
    <i class="fas fa-plus small-icon"></i>
  </button>
  <div class="bg-icon">
    <i class="fas fa-users"></i>
  </div>
</nav>
<div class="container card-container py-2">
  <div class="row row-cols-lg-2 g-3">
    <div *ngFor="let group of groupData['keys']" class="col">
      <mat-card class="card p-0" [style.border-color]="groupData[group].color">
        <mat-card-content class="card-content p-3 pt-0">
          <div
            class="clip-path"
            [style.backgroundColor]="groupData[group].color"
          ></div>
          <div class="d-flex justify-content-between align-items-center py-2">
            <h2 class="m-0">{{ groupData[group].groupName }} House</h2>
            <div class="card-content-icon d-flex justify-content-end mb-1">
              <i class="far fa-edit me-3"></i>
              <i class="far fa-trash-alt"></i>
            </div>
          </div>
          <div
            class="
              member
              row row-cols-lg-3
              g-2
              border
              rounded
              p-2
              mt-2
              overflow-auto
            "
          >
            <div *ngFor="let student of groupData[group].members" class="col">
              <mat-card
                class="member-card p-2"
                [style.border-color]="groupData[group].color"
              >
                <mat-card-content class="d-flex align-items-center">
                  <h1 class="m-0" [style.color]="groupData[group].color">
                    {{ student.id }}
                  </h1>
                  <h3 class="m-0 ms-2">
                    {{ student.name }}
                  </h3>
                </mat-card-content>
              </mat-card>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
